body{
    margin:0;
    font-family: "Lato", sans-serif;
}
.container{
    width: 100%;
    background: white;
}
.header{
    background:#402C37;
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-between;
    /* padding: 8px 130px; */
}
.left{
    width:40%;
    margin-left: 115px;
}
.lazza-logo{
    width: 100px;
    height:auto;
    margin-top: 14px;
    /* margin-left:110px; */
    /*padding:10px;
    margin:10px;*/
    float:left;
}
.form{
    float:left;
    margin-left: 2%;
    margin-top: 8px;
}
.loc{
    color:white;
}
.select{
    width:350px;
    height:30px;
    background: #bbc0c6;
    border-radius:4px;
}

.right{
    width:33%;
    color: #f6f0eb;
    margin-right: 120px;
    margin-top: 15px;
}
.ul{
    display:flex; 
    list-style:none;
    justify-content: space-between;
}
.home{
    color: #f6f0eb !important;
    font-weight: bold!important;
}
.banner-video{
    width: 100%;
    height: auto;
}
.top-selling{
    font-size:35px;
    padding-left: 40%;
    padding-top: 4%;
}
.products{
    margin:30px 10%;
    width:80%;
    display:grid;
    grid-template: repeat(2,1fr)/repeat(4,1fr);
    gap: 20px;
 }
.product{
    border: 1px solid palevioletred;
    height:375px;
    border-radius:15px;
    background-image: url('https://media.istockphoto.com/id/1199384205/vector/ice-cream-background-sweet-food-seamless-pattern-vanilla-icecream-frozen-yogurt-popsicle.jpg?s=612x612&w=0&k=20&c=EtGyhLe9hyyGWhtoage6H0IID0oPyspCswL0NSF8vMI=');
    background-size:cover ;
    background-color: rgba(247,247, 247,0.5);
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 50px;
}
.product img{
    width:250px;
    height:auto;
}
.p-name{
    font-size:large;
    text-align: center;
}
.sale-price{
    font-size:24px;
    font-weight:bold;
}
button{
    width: 100px;
    height:35px; 
    border-color: transparent;
    border-radius: 10px;
    background: red;
    color: white;
    font-weight: bold;
}
.show-more{
    font-size: x-large;
    padding-left: 45%;
}
.offers{
    margin:30px 20%;
    width:60%;
    display: grid;
    grid-template: repeat(1,1fr)/repeat(3,1fr);
    gap: 20px;
}

.offer img{
    width: 320px;
    height:auto;
} 
.stories{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
    
} 

.ice-cream-img{
    width: 600px;
    height:auto;
    float:left;
}
.story-content{
    padding-left:70px;
}
p.lazza-story{
    font-size:xx-large;
}
p.story{
    line-height: 25px;
}
.lazza-select{
    display:flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 125px;
    gap:25px;
    line-height: 50px;
}

.lazza-select-box{
    width: 625px;
    height: 325px;
    background-image: url('https://lazza.co.in/admin/uploads/promocodes/Layer_18_(1)4.png');
    background-size: cover;
    border-radius:5px;
    display:flex;
    align-items: center;
    
    
}

.content{
    padding-left: 20px;
    padding-top: 10%;
}
.content p{
    font-size: 30px;
    
}
.marquee-back{
    padding-top:20px;
    background-color:#402C37;
    display: flex;
    justify-content: space-between;
}
.marquee{
    background-color:#402C37; 
    color:#fcd002;
    height:15px;
    width:980px;
    padding-left: 110px;
}
.marquee-right{
    margin-right: 110px;
}
#tank{
    
    width:30px;
    height:auto;
}
.footer{
    width:100%;
    height:250px;
    background:black;
    display:flex;
    justify-content: space-between;
    line-height: 30px;
}
.footer img{
    width:150px;
    height:auto;
    margin-left:100px;
    margin-top: 30px;
}
.footer ul{
    list-style: none;
}
.footer-center{
    color:#fcd002;
    font-size: medium;
}
.footer-center h5{
    font-size:larger;
}
.footer-logo{
    margin-right: 100px;
}
.contact-us{
    width:200px;
}
.social-icons{
    width:200px;
    display:flex;
    justify-content: space-between;
    padding-right:50px;
}
img.social-icon{
    width:40px;
    height:auto;
    margin:30px 0 0 0;
}
.social-icon img{
    
}
